@media  screen and (max-width :600px) {

    /* nav responsive */

    *{
        margin: 0;
        padding: 0;
    }

    header{
        margin: 0px 20px;
    }

    .nav-container{
        margin:30px 0px ;
    }

    nav ul >li{
        display: none;
    }

     .nav-small-screen-content{
        display: block;
        width: 24px;
        height: 24px;
        color: #131318;
    }

    .nav-logo h2{
        margin-left: 10px;
        font-size: 21.543px;
    
    }

    .nav-logo h2 span{
        font-size: 21.543px;
    }
 
    .nav-logo img{
        width: 28.724px;
        height: 33.516px;
        margin-top: 5px;
    }
    
    
    /* banner responsive */
    
    /* banner section styles */

.banner-container{
    background-image:  linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),
                        url("/Images/Group\ 13\ \(1\)\ \(1\).png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 586px;
    border-radius: 16px;
    

}

.banner-content h1{
    font-size: 22px;
    padding: 38px 0px 16px 0px;
   

}

.banner-content p{
    font-size: 14px;
    width: 330px;
    line-height: 21px;
    padding: 0px 0px 0px 20px;

   
}

.options-to-go{
    background: rgba(255, 255, 255, 0.30);
    border-radius: 8px;
    width: 287px;
    padding: 16px 0px;
    flex-direction: column;
    gap: 16px;
    margin: 35px 0px 0px 50px;
}

.btn-1{
    margin-left: 0px;
}

.btn-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 16px;
  
}
    /* banner section end */

    /* tour section responsive styles */

    /* .tour-section{
        margin: 24px 20px;
    } */

    .tour-section-container{
        flex-direction: column;
        margin-top: 40px;
    }

    .tour-content h1{
        color: #131318;
        font-size: 20px;
        font-weight: 800;
    }

    .tour-content-des1{
        color: rgba(19, 19, 24, 0.70);
        width: 335px;
        font-size: 14px;
        font-weight: 400;
        line-height: 26px; 
    }

    .tour-content ul>li{
        color: rgba(19, 19, 24, 0.70);
        width: 335px;
        font-size: 14px;
        font-weight: 500;
        line-height: 26px; 
        margin-top: 24px;
    }

    .tour-content-des2{
        color: #5A5A5D;
        width: 335px;
        font-size: 14px;
        font-weight: 400;
        line-height: 26px; 
        margin-top: 24px;
        margin-bottom: 32px;
    }
    
    .tour-btn{
        margin-bottom: 24px;
        margin-left: 0px;
    }

    .tour-img img{
        width: 385px;
        height: auto;
        border-radius: 16px;
    }
   

    /* destination section styles */

.destination-section{

    margin: 0px 20px;

}

.destination-title{

    font-size: 20px;
    margin-top: 24px;
}

.destination-des{

    width: 309px;
    font-size: 14px;
    line-height: 24px; 
    margin: 16px 30px;

}

/* part-1 styles */

.part-1-container{
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    gap: 16px;
  
}

.part-1-img1{

    width: 385px;
    height: 202px;


}

.part-1-img2{
    width: 385px;
    height: 202px;
}

.destination-img-title{
    font-size: 20px;
    margin-top: 90px;
    
}

/* part-2 styles */

.part-2-container{
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    gap: 16px;

}

.part-2-img1{
    width: 385px;
    height: 202px;

}

.part-2-img2{
    width: 385px;
    height: 202px;

}

.part-2-img3{
    width: 385px;
    height: 202px;
}

.part-3-container{
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    gap: 16px;
}

.part-3-img1{
    width: 385px;
    height: 202px;
}

.part-3-img2{
    width: 385px;
    height: 202px;
}



/* why choose us responsive styles */

.choose-us-title{
    color: #131318;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    margin-top: 24px;
}

.choose-us-des{

    color: rgba(19, 19, 24, 0.70);
    width: 309px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    margin: 20px 65px;

}

.card-part-1{
    flex-direction: column;
}

.card-1{
    width: 350px;
    height: 320px;
}

.card-1 h3{

    color: #131318;
    font-size: 20px;
    font-weight: 800;

}

.card-1 p{
    width: 271px;
    color: #5A5A5D;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; /* 171.429% */

}


.card-2{
    width: 350px;
    height: 320px;
}



.card-2 h3{

    color: #131318;
    font-size: 20px;
    font-weight: 800;
    margin: 30px 0px 0px 32px;

}

.card-2 p{

    color: #5A5A5D;
    width: 271px;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin: 10px 0px 0px 32px;

}

.card-part-2{

    margin: 16px 37px ;

}

.card-3{
    width: 350px;
    height: 320px;
  
    
}



.card-3 h3{

    color: #131318;
    font-size: 20px;
    font-weight: 800;
    margin: 30px 0px 0px 32px;

}

.card-3 p{

    color: #5A5A5D;
    width: 300px;
    font-family: Mulish;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin: 10px 0px 0px 32px;

}

/* choose us section responsive end */

/* hotel rooms responsive styles */

.hotel-room-title{
    color: #131318;
    text-align: center;
    font-size: 24px;
    font-weight: 800;
    margin-top: 30px;


}

.hotel-room-title span{
    color: #FF5400;
    font-size: 24px;
    font-weight: 800;
}

.hotel-room-des{

    color: rgba(19, 19, 24, 0.70);
    width: 309px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    margin: 20px 65px;

}

.hotel-room-cards-container{
    flex-direction: column;
    margin: 24px 80px;
}



/* hotel rooms responsive styles end */

/* news-letter-section responsive styles*/

.news-letter-container{
   flex-direction: column;
    gap: 30px;
    margin: 24px 40px;

}

.news-letter-inputs{
    width: 345px;
    height: 400px;
    border-radius: 16px;
    border: 1px solid #FF5400;  
}

.news-letter-inputs h4{
    color: #131318;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
    margin: 40px 0px 16px 20px;
}

.news-letter-inputs p{
    width: 270px;
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 14;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin-left: 20px;
}

.news-letter-inputs button{
    width: 288px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 1.25rem;
    font-weight: 800;
    border: none;
    margin: 24px 0 0 30px;
}

.news-text-area{
    width: 288px;
    height: 52px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    color: rgba(19, 19, 24, 0.30);
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;
    padding-left: 20px;
    margin: 48px 0 0 20px;
    border: none;
}

.news-email-area{
    width: 288px;
    height: 52px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    color: rgba(19, 19, 24, 0.30);
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 400;
    padding-left: 20px;
    margin: 16px 0 0 20px;
    border: none;
    }



.news-letter-img-container{
    width: 350px;
    height: 400px;
    border-radius: 16px;
    background: rgb(255, 166, 166);
    background-image: url(/Images/Rectangle\ 8\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
}

.news-offer-container{
    width: 214.023px;
    height: 79.268px;
    transform: rotate(-19.628deg);
    border-radius: 16px;
    background: #FF5400;
    margin: 290px 0 0 120px;
}

.news-offer-container p{
    transform: rotate(-1.828deg);
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 15.854px;
    font-weight: 400;
    padding-top: 20px;
}

.news-offer-container h5{
    transform: rotate(-1.828deg);
    color: #FFF;
    font-family: Mulish;
    font-size: 21.138px;
    font-weight: 800;
    text-align: center;
}

/* news-letter-section responsive styles end */


/* footer section responsive styles */


footer{
    width: 100%;
    height: 400px;
    background: rgba(19, 19, 24, 0.05);
    margin-top: 24px;
}

.footer-container{
    margin: 0 0px;
}

.logo-container{
    display: flex;
    /* width: 260px; */
    margin: 0 auto;
    padding: 32px 90px 0px 90px;
}

.logo-container img{
    width: 28.724px;
    height: 33.516px;
}



.logo-container h2{
    color:  #131318;
    font-family: Mulish;
    font-size: 21.543px;
    font-weight: 800;
    margin-left: 16px;
}

.logo-container h2 span{
    color: #FF5400;
    font-family: Mulish;
    font-size: 21.543px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.footer-des{
    width: 260px;
    color: #5A5A5D;
    text-align: center;
    font-family: Mulish;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin: 0 auto;
    margin-top: 16px;
}

.social-icon{
    width: 174.322px;
    height: 24px;
    margin: 0 auto;
    margin-top: 32px;
    margin-bottom: 50px;
}

footer hr{
    width: 340px;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
    margin-left: 40px;
}

.reserved-authority{
    width: 175px;
    margin: 0 auto;
}

.reserved-authority p{
    color: #131318;
    font-size: 14px;
    font-weight: 300;
    margin-top: 50px;
}

/* footer section responsive styles end */

}