*{
    margin: 0;
    padding: 0;
}



body{
    font-family: "Mulish", sans-serif;
}


header{
    margin: 0px 135px;
}
/* navbar relates styles */


.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0px;

}

.nav-logo{
    display: flex;
    justify-content: center;
    align-items: center;

}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 44px;
}

nav ul >li{
    list-style: none;
    color:  #424247;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    display: block;
}


.nav-small-screen-content{
    display: none;
}


.list-a{
    color: #FF5400;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}
.nav-logo h2{
    color: #131318;
    font-size: 36px;
    font-weight: 800;
    margin-left: 17px;
}


.nav-logo h2 span{
    color: #FF5400;
    font-size: 36px;
    font-weight: 800;
}
/* navbar section styles end */

/* banner section styles */

.banner-container{
    background-image:  linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),
                        url("/Images/Group\ 13\ \(1\)\ \(1\).png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 586px;
    border-radius: 16px;
    

}

.banner-content h1{
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
    padding: 170px 280px 0px 280px;
   

}

.banner-content p{
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    width: 676px;
    line-height: 26px;
    padding: 0px 280px 0px 500px;
   
}

.options-to-go{
    background: rgba(255, 255, 255, 0.30);
    border-radius: 8px;
    width: 850px;
    padding: 24px 0px;
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 26px;
    margin: 80px 0px 0px 400px;
}

.btn-primary{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    border: none;
    
}

.btn-1, .btn-2, .btn-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.btn-1{
    margin-left: 10px;
}

.btn-1 img{
    margin-left: 15px;
    margin-top: 7px;
    
}
.btn-2 img{
    margin-left: 60px;
    margin-top: 7px;
}

.btn-3 img{
    margin-left: 25px;
    margin-top: 7px;
}


.btn-4{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 700;
    
}

.btn-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
  
}


.btn-4 img{

    margin-right: 10px;
    margin-top: 7px;

}

/* banner section styles end */

/* tour section styles */

.tour-section{
    margin: 0px 135px;
}

.tour-section-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}

.tour-content h1{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.tour-content-des1{
    color: rgba(19, 19, 24, 0.70);
    width: 577px;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px; 
    margin: 24px 0px;
}

.tour-content ul>li{
    color: rgba(19, 19, 24, 0.70);
    width: 625px;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px; 
    margin-top: 24px;
}

.tour-content ul{
    margin-left: 20px;
}

.tour-content-des2{
    color: #5A5A5D;
    width: 530px;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px; 
    margin-top: 24px;
    
}

.tour-btn{
    margin-top: 32px;
}

.tour-img img{
    width: 640px;
    height: auto;
    border-radius: 16px;
}

/* tour section styles end */


/* destination section styles */

.destination-section{

    margin: 50px 135px;

}

.destination-title{

    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 100px;
}

.destination-des{

    color: rgba(19, 19, 24, 0.70);
    width: 643px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
    margin: 24px 500px;

}

/* part-1 styles */

.part-1-container{
    display: flex;
    margin-top: 60px;
    gap: 30px;
  
}

.part-1-img1{
    
    background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url("/Images/Rectangle\ 5.png");
    background-size: cover;
    width: 810px;
    height: 424px;
    border-radius: 16px;

}

.part-1-img2{
    background-image:linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url("/Images/Rectangle\ 8.png");
    background-size: cover;
    width: 810px;
    height: 424px;
    border-radius: 16px;
}

.destination-img-title{
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    margin-top: 200px;
    

}

/* part-2 styles */

.part-2-container{
    display: flex;
    margin-top: 30px;
    gap:30px

}

.part-2-img1{
    background-image: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url("/Images/Rectangle\ 6.png");
    width: 530px;
    height: 424px;
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;

}

.part-2-img2{
    background-image:  linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%),  url("/Images/Rectangle\ 7.png");
    width: 672px;
    height: 424px;
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;

}

.part-2-img3{
    background-image:  linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url("/Images/Rectangle\ 9.png");
    width: 388px;
    height: 424px;
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;
}

.part-3-container{
    display: flex;
    margin-top: 30px;
    gap:30px
}

.part-3-img1{
    background-image:  linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url("/Images/Rectangle\ 11.png");
    width: 668.6px;
    height: 424px;
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;
}

.part-3-img2{
    background-image:  linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url("/Images/Rectangle\ 10.png");
    width: 951.3px;
    height: 424px;
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;
}

